.plusIdeasCardSection {
  background-color: white;
  //padding: 24px;
  border-radius: 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
}

.card-text {
  line-height: 1px;
}

.firstH {
  font-size: 24px;
}

.cardSetIdea {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 236px);
  grid-template-rows: 354px;
  grid-gap: 20px;
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 800px) {
  .plusIdeasCardSection {
    padding: 24px 24px 24px 15px;
  }
  .CardSetIdea {
    grid-template-columns: repeat(4, 156px);
    grid-template-rows: 236px;
    grid-gap: 10px;
  }
}