.textAreaSubPayment {
  padding: 14px 16px 0 16px;
}

.textAreaSubPayment h5 {
  font-size: 24px;
  font-weight: 500;
}

.textAreaSubPayment p {
  margin-bottom: 15px;
  font-size: 17px;
  color: rgb(109, 111, 120);
}