.questionsCardDiv {
  background-color: white;
  border-radius: 20px;
  padding: 60px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
}

.h2Questions {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  padding: 0;
  line-height: 35px;
}


@media screen and (max-width: 800px) {
  .questionsCardDiv {
    padding: 20px;
  }
  .textDiv {
    display: flex;
    justify-content: center;
  }
  .textDiv h2 {
    font-size: 30px;
    line-height: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .h2Questions {
    font-size: 20px;
    line-height: 20px;
  }
}