.HowToSpendCardSection {
  background-color: white;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
}

.card-text {
  line-height: 1px;
}

.firstH {
  font-size: 24px;
}

.CardSetSpend {
  position: relative;
  display: grid;
  grid-template-columns: repeat(13, 236px);
  grid-template-rows: 354px;
  grid-gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.CardSetSpend button {
  border: none;
  border-radius: 15px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15% 80%;
  grid-gap: 60%;
  padding: 20px;
  align-self: center;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.CardSetSpend button:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

.firstCardSpend {
  background-image: url('./src/assets/Images/HowToSpendPointsCardImages/Shopping.png');
}

.secondCardSpend {
  background-image: url('./src/assets/Images/HowToSpendPointsCardImages/OrderPizza.png');
}

.thirdCardSpend {
  background-image: url('./src/assets/Images/HowToSpendPointsCardImages/OrderGifts.png');
}

.fourthCardSpend {
  background-image: url('./src/assets/Images/HowToSpendPointsCardImages/BuyTickets.png');
}

.fifthCardSpend {
  background-image: url('./src/assets/Images/HowToSpendPointsCardImages/Hotel.png');
}

.sixthCardSpend {
  background-image: url('./src/assets/Images/HowToSpendPointsCardImages/Taxi.png');
}

.seventhCardSpend {
  background-image: url('./src/assets/Images/HowToSpendPointsCardImages/TakeACar.png');
}

.eighthCardSpend {
  background-image: url('./src/assets/Images/HowToSpendPointsCardImages/RideScooter.png');
}

.ninthCardSpend {
  background-image: url('./src/assets/Images/HowToSpendPointsCardImages/FillTank.png');
}

.tenthCardSpend {
  background-image: url('./src/assets/Images/HowToSpendPointsCardImages/AutoReport.png');
}

@media screen and (max-width: 800px) {
  .HowToSpendCardSection {
    padding: 24px 24px 24px 15px;
  }
  .CardSetSpend {
    grid-template-columns: repeat(13, 156px);
    grid-template-rows: 236px;
    grid-gap: 10px;
  }
}