.firstCardSection {
  background-color: white;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
}

.card-text {
  line-height: 1px;
}

.firstH {
  font-size: 24px;
}

.CardSetFirst {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 236px);
  grid-template-rows: 354px;
  grid-gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.CardSetFirst button {
  border: none;
  border-radius: 15px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15% 80%;
  grid-gap: 60%;
  padding: 20px;
  align-self: center;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.CardSetFirst button:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

.CardSetFirst h2 {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  font-size: 25px;
  color: white;
}

.CardSetFirst p {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
}

.frCard {
  background-image: url('../../../assets/Images/FirstCardImages/GagarinCup.png');
}

.scCard {
  background-image: url('../../../assets/Images/FirstCardImages/PlayOff.png');
}

.fdCard {
  background-image: url('../../../assets/Images/FirstCardImages/ZenitSpartak.png');
}

.ftCard {
  background-image: url('../../../assets/Images/FirstCardImages/SportTime.png');
}

.prevButton {
  position: absolute;
  top: 55%;
  background: white;
  border: none;
  cursor: pointer;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextButton {
  position: absolute;
  top: 55%;
  background: white;
  border: none;
  cursor: pointer;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prevButton:hover {
  transform: scale(1.2);
  transition: transform 0.1s ease-in-out;
}

.nextButton:hover {
  transform: scale(1.2);
  transition: transform 0.1s ease-in-out;
}

@media screen and (max-width: 800px) {
  .firstCardSection {
    padding: 24px 24px 24px 15px;
  }
  .CardSetFirst {
    grid-template-columns: repeat(4, 156px);
    grid-template-rows: 236px;
    grid-gap: 10px;
  }
  .CardSetFirst h2 {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    font-size: 15px;
    color: white;
  }
}
