.cardSetButton {
  border: none;
  border-radius: 15px;
  display: flex;
  padding: 20px;
  align-self: center;
  background-size: cover;
  background-position: center;
}

.tallCardSetButton {
  min-width: 236px;
  height: 354px;
}

.smallCardSetButton {
  min-width: 200px;
  height: 200px;
}

.cardSetButton:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

@media screen and (max-width: 800px) {
  .tallCardSetButton {
    min-width: 160px;
    height: 236px;
  }
  .smallCardSetButton {
    min-width: 160px;
    height: 160px;
  }
}