.accordionQuestions a {
  color: black;
}

.accordionQuestions a:hover {
  color: gray;
  transition: 0.3s;
}

.accordionQuestions {
  padding-inline: 60px;
}

.accordionQuestions .accordion {
  --bs-accordion-border-color: transparent;
}

.accordionQuestions .accordion-body {
  padding-left: 0;
  padding-top: 5px;
  font-size: 15px;
  line-height: 15px;
}

.accordionQuestions .accordion-item {
  padding-left: 0;
  border: none;
}

.accordionQuestions .accordion-button {
  padding-left: 0;
  font-weight: 700;
  font-size: 16px;
}

.accordionQuestions .accordion-button:hover {
  color: #dc0000;
}

.accordionQuestions .accordion-button:not(.collapsed) {
  padding-bottom: 0;
  color: black;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.accordionQuestions .accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none;
}

.accordionQuestions .accordion-item:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 800px) {
  .accordionQuestions {
    padding-inline: 0;
  }
}
