.topZoneSubControl {
  padding: 16px 0 20px;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
}

.yandexPlusTextSubControl {
  display: flex;
  align-items: center;
}

.yandexPlusTextSubControl h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.yandexPlusTextSubControl svg {
  margin: 7px 0 0 5px;
}

.buttonDivSubControl {
  display: flex;
  align-items: center;
}

.stopSubButtonSubControl {
  color: white;
  border: none;
  border-radius: 8px;
  background-color: rgb(63, 104, 249);
  padding: 6px 12px 6px 12px;
  font-size: 15px;
  font-weight: 500;
}

.stopSubButtonSubControl:hover {
  background-color: rgb(39, 85, 248);
}

.stopSubButtonSubControl:active {
  background-color: rgb(13, 64, 247);
}

@media (max-width: 600px) {

}