.yandexMusicCardSection {
  background-color: white;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
}

.CardSetMusic {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: 200px;
  grid-gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.CardSetMusic button {
  border: none;
  border-radius: 15px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15% 80%;
  grid-gap: 60%;
  padding: 20px;
  align-self: center;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.CardSetMusic button:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

.firstCardMusic {
  background-image: url('../../../../Shared/assets/Images/Home-Page-Advertising/Yandex-Music-Card-Images/PopReleases.png');
}

.secondCardMusic {
  background-image: url('../../../../Shared/assets/Images/Home-Page-Advertising/Yandex-Music-Card-Images/Yo.png');
}

.thirdCardMusic {
  background-image: url('../../../../Shared/assets/Images/Home-Page-Advertising/Yandex-Music-Card-Images/DreamFeat.png');
}

.fourthCardMusic {
  background-image: url('../../../../Shared/assets/Images/Home-Page-Advertising/Yandex-Music-Card-Images/WinterReleases.png');
}

.fifthCardMusic {
  background-image: url('../../../../Shared/assets/Images/Home-Page-Advertising/Yandex-Music-Card-Images/NewHits.png');
}

@media screen and (max-width: 800px) {
  .yandexMusicCardSection {
    padding: 24px 24px 24px 15px;
  }
  .CardSetMusic {
    grid-template-columns: repeat(5, 160px);
    grid-template-rows: 160px;
    grid-gap: 10px;
  }
}