.headerContainer {
  display: flex;
  justify-content: space-between;
  height: 22px;
  cursor: pointer;
}

.headerContainer_hoverEffect:hover {
  color: red;
}

.expand__title_arrow {
  transition: transform 0.2s ease-in-out;
  margin-top: 7px;
}

.rotated {
  transform: rotate(-180deg);
}