.headerPortraitDiv .dropdown-menu {
  padding: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 256px;
  position: absolute;
  left: -460%;
  bottom: -560%;
  z-index: 950;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.portraitButton {
  background-color: transparent;
  border: none;
}

.portraitButton img {
  height: 100%;
  width: 45px;
}

.exitButton button {
  padding: 10px;
  position: relative;
  top: -10px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: black;
}

.exitButton button:hover {
  padding: 10px;
  position: relative;
  top: -10px;
  background-color: #ececec;
  border: none;
  border-radius: 50%;
  transition: 0.3s;
  color: black;
}

.headerPanel {
  display: flex;
  justify-content: space-between;
  height: 10px;
}

.headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 20px;
  padding-bottom: 20px;
}

.headerContent h5 {
  margin: 0;
}

.headerContent p {
  color: gray;
}

.headerContent img {
  height: 100%;
  width: 50px;
}

.headerPortraitBottomButtons {
  margin-top: 15px;
}

.headerPortraitBottomButtons .dropdown-item {
  padding-left: 0;
}

.headerPortraitBottomButtons svg {
  margin-right: 20px;
}


.dropDownItem {
  font-size: 17px;
  height: 40px;
  display: flex;
  justify-content: left;
  padding: 0 12px;
}

.dropDownItem:hover {
  background-color: #f0f1f5;
  border-radius: 10px;
}

.dropDownItem a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.dropDownItem img {
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  .headerPortraitDiv .dropdown-menu {
    padding: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 950;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.3s ease forwards;
  }

  @keyframes slideIn {
    from {
      top: 100%;
    }
    to {
      top: 0;
    }
  }
}