.dropdown-toggle::after {
  display: none !important;
}

.header {
  display: inline;
}

.HeaderDiv {
  position: sticky;
  top: 0;
  background-color: transparent;
  z-index: 700;
  transition: 0.1s;
  display: flex;
  justify-content: center;
}

.relativePosition {
  position: relative;
}

.navbarDiv {
  position: relative;
  z-index: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1250px;
  max-width: 1250px;
}

.blankDiv {
  flex-grow: 1;
  order: 2;
}

.headerMenu {
  order: 3;
  padding: 10px;
}

.headerPortrait {
  order: 4;
  padding: 10px;
  padding-right: 17px;
}

.headerLogo {
  order: 1;
  padding-left: 37px;
  padding-top: 10px;
}

.logoImage {
  margin-top: 10px;
  height: 27px;
  width: 183px;
}

.scrolled {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.1s;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: black;
  --bs-dropdown-link-active-color: black;
}

.dropdown-item:hover {
  background-color: #edf0f1;
  border-radius: 10px;
}

.dropdown-item {
  padding: 7px;
}

@media screen and (max-width: 1250px) {
  .headerLogo {
    padding-left: 25px;
  }
  .headerPortrait {
    padding-right: 23px;
  }
}

@media screen and (max-width: 800px) {
  .navbarDiv {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .headerLogo {
    order: 2;
    padding-left: 0;
  }

  .headerMenu {
    order: 1;
    padding: 10px;
  }

  .headerPortrait {
    order: 3;
    padding: 10px;
    padding-right: 17px;
  }

  .blankDiv {
    display: none;
  }

  .logoImage {
    margin-top: 10px;
    height: 24px;
    width: 162px;
  }
}

