.accordion {
  max-width: 640px;
  margin: 0 auto;
  border-bottom: 1px solid #dadada;
  padding-bottom: 20px;
  padding-top: 20px;
}

.accordion:last-child {
  border-bottom: none;
}

.accordion__description {
  display: block;
}

.accordion__description_invisible {
  display: none;
}