.HowToGetPointsCardSection {
  background-color: white;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
}

.CardSetHowToGetPoints {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 200px;
  grid-gap: 20px;
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 1150px) {
  .CardSetHowToGetPoints {
    grid-template-columns: repeat(4, 170px);
    grid-template-rows: 170px;
  }
}

@media screen and (max-width: 1050px) {
  .CardSetHowToGetPoints {
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: 150px;
  }
}

@media screen and (max-width: 950px) {
  .CardSetHowToGetPoints {
    grid-template-columns: repeat(4, 130px);
    grid-template-rows: 130px;
  }
}

@media screen and (max-width: 900px) {
  .HowToGetPointsCardSection {
    padding: 24px 24px 24px 15px;
  }
  .CardSetHowToGetPoints {
    grid-template-columns: repeat(4, 115px);
    grid-template-rows: 115px;
  }
}

@media screen and (max-width: 800px) {
  .HowToGetPointsCardSection {
  }
  .CardSetHowToGetPoints {
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 100px;
  }
}

@media screen and (max-width: 500px) {
  .HowToGetPointsCardSection {
  }
  .CardSetHowToGetPoints {
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: 90px;
  }
}

@media screen and (max-width: 400px) {
  .HowToGetPointsCardSection {
  }
  .CardSetHowToGetPoints {
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: 70px;
  }
}

.CardSetHowToGetPoints button {
  border: none;
  border-radius: 15px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15% 80%;
  grid-gap: 60%;
  padding: 20px;
  align-self: center;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.CardSetHowToGetPoints button:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

.firstCardSetHowToGetPoints {
  background-image: url('../../../../../../Shared/assets/Images/Home-Page-Advertising/GetCashBackPointsCardImages/PayCard.png');
}

.secondCardSetHowToGetPoints {
  background-image: url('../../../../../../Shared/assets/Images/Home-Page-Advertising/GetCashBackPointsCardImages/PayApp.png');
}

.thirdCardSetHowToGetPoints {
  background-image: url('../../../../../../Shared/assets/Images/Home-Page-Advertising/GetCashBackPointsCardImages/PlusDaily.png');
}

.fourthCardSetHowToGetPoints {
  background-image: url('../../../../../../Shared/assets/Images/Home-Page-Advertising/GetCashBackPointsCardImages/PlusCity.png');
}