.subPaymentDivSubControl {
  background-color: white;
  border-radius: 20px;
}

.textAreaSubPayment {
  padding: 14px 16px 0 16px;
}

.textAreaSubPayment h2 {
  font-size: 24px;
  font-weight: 500;
}

.textAreaSubPayment p {
  font-size: 17px;
  color: rgb(109, 111, 120);
}

.buttonsSubPaymentsControl {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: auto;
}


.buttonsSubPaymentsControl .inactiveButton {
  background-color: transparent;
  border: none;
  border-top: 1px solid #e8ebed;
  padding: 13px 16px 13px 16px;
  font-size: 17px;
  color: rgb(37, 84, 248);
}

.buttonsSubPaymentsControl .activeButton {
  background-color: transparent;
  border: none;
  border-top: 2px solid rgb(37, 84, 248);
  padding: 13px 16px 13px 16px;
  font-size: 17px;
  color: rgb(37, 84, 248);
}

.subPaymentOption {
  opacity: 0;
  height: 0;
  transition: all 0.7s ease;
}

.subPaymentOption.active {
  opacity: 1;
  height: 255px;
}
