.slider {
  position: relative;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

.slider__swiper {
  min-width: 1000px;
}

.slider__slide {
  padding: 24px 0;
}


@media screen and (max-width: 800px) {
  .sliderOverflow {
    padding: 15px;
  }
}
