.changePlanItem {
  margin-top: 8px;
  background-color: #f5f7fa;
  padding: 8px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.changePlanItem__image {
  height: 40px;
  width: 40px;
  margin-right: 16px;
}

.changePlanItem__information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.changePlanItem__naming {
  display: flex;
  align-items: center;
  height: 20px;
  margin-top: 10px;
}

.changePlanItem__header {
  font-size: 16px;
  font-weight: 400;
  margin-right: 8px;
}

.changePlanItem__pricing {
  font-size: 15px;
  font-weight: 400;
  color: rgb(109, 111, 120);
}

.changePlanItem__majorTag {
  font-size: 10px;
  color: rgb(37, 84, 248);
  background-color: #dfe1f9;
  padding: 0 3px 0 3px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.changePlanItem__minorTag {
  margin-bottom: 2px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  background-color: #fa9214;
  padding: 0 3px 0 3px;
  border-radius: 5px;
}

.changePlanItem__buttonContainer {
  margin-left: auto;
  margin-right: 8px;
}