.nextPaymentInfo {
  display: grid;
  grid-template-columns: 9.77% 81.21% 9.02%;
  grid-template-rows: auto;
  border-top: 1px solid rgb(234, 234, 234);
  padding-top: 15px;
}

.nextPaymentInfo img {
  grid-column: 1;
  width: 40px;
  height: 40px;
}

.nextPaymentInfo h5 {
  grid-column: 2;
  align-self: center;
  font-size: 17px;
  font-weight: 400;
  margin-top: 3px;
}

.nextPaymentInfo p {
  grid-column: 3;
  text-align: end;
  align-self: center;
  margin: 0;
  font-size: 17px;
  font-weight: 600;
}