.menuItem {
  font-size: 17px;
  height: 40px;
  display: flex;
  justify-content: left;
  padding: 0 12px;
}

.menuItem:hover {
  background-color: #edf0f1;
  border-radius: 10px;
  cursor: pointer;
}

.menuItem a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.menuItem img {
  margin-right: 10px;
}