body.active-modal {
  overflow-y: hidden;
}

.modalCashBack, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(10, 10, 10, 0.8);
}

.modalContentSideBarCashBack {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  margin-top: 100px;
  max-width: 488px;
  min-width: 300px;
  height: 880px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #d2cfe3 5%, #e2def4 95%);
  display: grid;
  grid-template-rows: 45% 40% 10%;
  grid-template-columns: 428px auto;
}

.modalContentTextSideBarCashBack {
  grid-row: 1;
  margin-top: 40px;
}

.modalContentTextSideBarCashBack h2 {
  font-size: 24px;
}

.modalContentTextSideBarCashBack p {
  font-size: 16px;
  line-height: 17px;
}

.modalContentTextSideBarCashBack a {
  color: #525252;
}

.modalContentTextSideBarCashBack a:hover {
  color: black;
}

.blankForBgImage {
  grid-row: 2;
  background-image: url('src/assets/Images/SideBarImages/ModalImg.png');
  background-size: 100% 100%;
  width: 370px;
  height: 370px;
  margin-left: 30px;
}

.modalContentBottomButtonSideBarCashBack {
  grid-row: 3;
  margin-top: 60px;
  width: 429px;
  height: 60px;
  border-color: transparent;
  background: rgb(46, 47, 51);
  color: white;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
}

.close-modal {
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 5px 7px;
  border-radius: 50px;
  border-color: transparent;
  width: 24px;
  height: 24px;
}