.headerPortraitDiv .dropdown-menu {
  padding: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 256px;
  position: absolute;
  left: -460%;
  bottom: -560%;
  z-index: 950;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.portraitButton {
  background-color: transparent;
  border: none;
}

.exitButton button {
  padding: 10px;
  position: relative;
  top: -10px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: black;
}

.exitButton button:hover {
  padding: 10px;
  position: relative;
  top: -10px;
  background-color: #ececec;
  border: none;
  border-radius: 50%;
  transition: 0.3s;
  color: black;
}

.headerPanel {
  height: 10px;
}

.headerContent {
  line-height: 20px;
  padding-bottom: 20px;
}

.headerContent h5 {
  margin: 0;
}

.headerContent p {
  color: gray;
}

.headerPortraitBottomButtons .dropdown-item {
  padding-left: 0;
}

.headerPortraitBottomButtons svg {
  margin-right: 20px;
}

@media screen and (max-width: 500px) {
  .headerPortraitDiv .dropdown-menu {
    padding: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 950;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.3s ease forwards;
  }

  @keyframes slideIn {
    from {
      top: 100%;
    }
    to {
      top: 0;
    }
  }
}