.plusIdeasCardSection {
  background-color: white;
  padding-top: 24px;
  border-radius: 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
}

.cardText {
  padding: 0 24px 0 24px;
}

.cardText p {
  margin: 0;
}

.cardText h2 {
  margin: 0;
}

.firstH {
  font-size: 24px;
}

.sliderOverflow {
  padding: 24px;
  overflow: hidden;
}

.sliderItems {
  transition: all 1s ease;
  position: relative;
  display: flex;
  justify-content: space-between;
}
