.cardListSubPayment {
  background-color: white;
  border-radius: 20px;
  padding: 16px;
  margin-top: 8px;
}

.activatedSubPayment {
  background-color: white;
  border-radius: 20px;
  padding: 16px;
  margin-top: 8px;
}