p {
  margin: 0;
}

.headerMenu {
  position: relative;
}

.headerMenu__menuToggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.headerMenu__menuWord {
  margin-left: auto;
  margin-right: 5px;
  color: black;
  margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
  .headerMenu__menuWord {
    display: none;
  }
}