p {
  margin: 0;
}

.headerMenu {
  position: relative;
}

.headerMenu__menuToggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.headerMenu__menuWord {
  margin-left: auto;
  margin-right: 5px;
  color: black;
  margin-bottom: 5px;
}

.headerMenu__overlayHeaderMenu {
  display: none;
}

.headerMenu__dropdownMenu {
  width: 320px;
  padding: 25px 20px;
  border-color: transparent;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 1000;
}

.headerMenu__menuItem {
  font-size: 17px;
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  justify-content: left;
  padding: 0 12px;
}

.headerMenu__menuItem:hover {
  background-color: #edf0f1;
  border-radius: 10px;
}

.headerMenu__menuItem a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.headerMenu__menuItem img {
  margin-right: 10px;
}

.headerMenu__accordion {
  padding: 7px 12px;
}

.headerMenu__headerContainer {
  display: flex;
  justify-content: left;
  height: 22px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .headerMenu__menuWord {
    display: none;
  }

  .headerMenu__overlayHeaderMenu {
    background: rgba(10, 10, 10, 0.8);
    width: 100vw;
    height: 100vh;
    top: 7%;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: block;
  }

  .headerMenu__dropdownMenu {
    left: -10px;
    width: 100vw;
    top: -462px;
    animation: slideDown 0.5s ease forwards;
    border-radius: 0;
  }

  @keyframes slideDown {
    from {
      top: -462px;
    }
    to {
      top: 55px;
    }
  }
}

@media screen and (max-width: 500px) {
  .headerMenu__dropdownMenu {
    width: 100vw;
    height: 462px;
    top: -462px;
    animation: slideDown 0.5s ease forwards;
  }

  @keyframes slideDown {
    from {
      top: -462px;
    }
    to {
      top: 0;
    }
  }
}