.cardText {
  padding: 0 24px 0 24px;
}

.cardText p {
  margin: 0;
}

.cardText h2 {
  margin: 0;
}

.firstH {
  font-size: 24px;
}


@media screen and (max-width: 800px) {
  .cardText {
    padding: 0 24px 0 15px;
  }
}