.footerLinks a {
  font-size: 13px;
  text-decoration: none;
  color: black;
  padding-right: 20px;
  font-weight: 550;
}

.footerLinks a:hover {
  color: gray;
  transition: 0.3s;
}

@media screen and (max-width: 800px) {
  .footerLinks {
    display: flex;
    flex-wrap: wrap;
  }

  .footerLinks a {
    white-space: nowrap;
  }
}