.KinoPoiskCardSection {
  background-color: white;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
}

.card-text {
  line-height: 1px;
}

.firstH {
  font-size: 24px;
}

.CardSetKino {
  position: relative;
  display: grid;
  grid-template-columns: repeat(13, 236px);
  grid-template-rows: 354px;
  grid-gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.CardSetKino button {
  border: none;
  border-radius: 15px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15% 80%;
  grid-gap: 60%;
  padding: 20px;
  align-self: center;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.CardSetKino button:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

.firstCardKino {
  background-image: url('../../../../../assets/Images/KinopoiskCardImages/KillerInsight.png');
}

.secondCardKino {
  background-image: url('../../../../../assets/Images/KinopoiskCardImages/SteelGrip.png');
}

.thirdCardKino {
  background-image: url('../../../../../assets/Images/KinopoiskCardImages/DogMan.png');
}

.fourthCardKino {
  background-image: url('../../../../../assets/Images/KinopoiskCardImages/Others.png');
}

.fifthCardKino {
  background-image: url('../../../../../assets/Images/KinopoiskCardImages/KillerWife.png');
}

.sixthCardKino {
  background-image: url('../../../../../assets/Images/KinopoiskCardImages/Mediator.png');
}

.seventhCardKino {
  background-image: url('../../../../../assets/Images/KinopoiskCardImages/Zakhar.png');
}

.eighthCardKino {
  background-image: url('../../../../../assets/Images/KinopoiskCardImages/RussianTale.png');
}

.ninthCardKino {
  background-image: url('../../../../../assets/Images/KinopoiskCardImages/CyberVillage.png');
}

.tenthCardKino {
  background-image: url('../../../../../assets/Images/KinopoiskCardImages/Trigger.png');
}

.eleventhCardKino {
  background-image: url('../../../../../assets/Images/KinopoiskCardImages/MrsSanta.png');
}

.twelfthCardKino {
  background-image: url('../../../../../assets/Images/KinopoiskCardImages/Cicada.png');
}

.thirteenthCardKino {
  background-image: url('../../../../../assets/Images/KinopoiskCardImages/Explainicals.png');
}

@media screen and (max-width: 800px) {
  .KinoPoiskCardSection {
    padding: 24px 24px 24px 15px;
  }
  .CardSetKino {
    grid-template-columns: repeat(13, 156px);
    grid-template-rows: 236px;
    grid-gap: 10px;
  }
}