/*
.accordionDescription a {
  color: black;
}

.accordionDescription a:hover {
  color: gray;
  transition: 0.3s;
}

.accordionDescription p {
  padding-left: 0;
  padding-top: 5px;
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 0;
}

.accordionDescription {
  margin: 15px 0 0 0;
}
*/
